@font-face {
  font-family: "archiaregular";
  src: url("./webfonts/archia-regular-webfont.eot");
  src: url("./webfonts/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./webfonts/archia-regular-webfont.woff2") format("woff2"),
    url("./webfonts/archia-regular-webfont.woff") format("woff"),
    url("./webfonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --lightgrey: #f3f4f6;
  --pluswhite: #f9fafb;
  --greengray: #111827;
}

body {
  margin: 0;
  padding: 0;
  background: var(--lightgrey);
  font-family: "archiaregular", Arial, sans-serif;
}

p,
h1,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header {
  display: flex;
  max-width: 700px;
}

.header__logo__container {
  padding-top: 5px;
  margin-right: 15px;
}

.header__logo {
  width: 60px;
  height: 60px;
}

.header__title__container {
  color: var(--greengray);
}

.header__description {
  margin-top: 10px;
  font-size: 17px;
}

.chart-container {
  width: 280px;
  height: 280px;
}
.boxes {
  display: flex;
}

/* .chloropeth {
  height: 80rem;
  width: 80rem;
} */
