body {
  font-size: large;
}

.container {
  display: flex;
}
.header {
  display: flex;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.chart-container {
  width: 280px;
  height: 280px;
}
.boxes {
  display: flex;
}

.chloropeth {
  height: 80rem;
  width: 80rem;
}
