@font-face {
  font-family: "archiaregular";
  src: url("./webfonts/archia-regular-webfont.eot");
  src: url("./webfonts/archia-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./webfonts/archia-regular-webfont.woff2") format("woff2"),
    url("./webfonts/archia-regular-webfont.woff") format("woff"),
    url("./webfonts/archia-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --lightgrey: #f3f4f6;
  --pluswhite: #f9fafb;
  --greengray: #161f20;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: start;
  background: var(--pluswhite);
  font-family: "archiaregular", Arial, sans-serif;
}

p,
h1,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.header {
  display: flex;
}

.header__logo {
  width: 50px;
  height: 50px;
}

.chart-container {
  width: 280px;
  height: 280px;
}
.boxes {
  display: flex;
}

/* .chloropeth {
  height: 80rem;
  width: 80rem;
} */
